
@model IEnumerable<PrevisaoClimaModel>
<table class="table table-condensed table-responsive table-bordered">
    <thead>
        <tr>
            @foreach (var item in Model)
            {
                <th>@item.DataPrevisao.ToDateCultureInfo()</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <p>@item.Clima</p>
                    <p>Mínima @item.TemperaturaMinima</p>
                    <p>Máxima @item.TemperaturaMaxima</p>
                </td>
            }
        </tr>
    </tbody>
</table>